# Node.js / NPM
node_modules

# Log files
*.log
yarn-debug.log*
yarn-error.log*

# Compiled output
dist

# Environment variables
.env.local
.env.*.local

# For local patches
.local/

# Cache
.cache
.eslintcache
.stylelintcache

# VS Code
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

# Other editors and IDEs
.idea
**/.projections.json

# macOS
.DS_Store

# Storybook
storybook-static

# Next.js
.next

# Vercel
.vercel

# Turbo
.turbo

# TypeScript
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

**/.claude/settings.local.json
