@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style overrides test */
div[style='background:white'] span {
  font-size: 10px;
  color: blue;
}

span {
  font-family: 'Times New Roman', Times, serif !important;
}
