# The hash visible in the subject store's URL when signed in to the store control panel.
# The control panel URL is of the form `https://store-{hash}.mybigcommerce.com`. 
BIGCOMMERCE_STORE_HASH=

# The access token from a store-level API account. The only scope required to run Catalyst is Carts `read-only`.
# See https://developer.bigcommerce.com/docs/start/authentication/api-accounts#store-level-api-accounts
BIGCOMMERCE_ACCESS_TOKEN=

# A bearer token that authorizes server-to-server requests to the GraphQL Storefront API
# See https://developer.bigcommerce.com/docs/rest-authentication/tokens/customer-impersonation-token
BIGCOMMERCE_CUSTOMER_IMPERSONATION_TOKEN=

# The Channel ID for the selling channel being serviced by this Catalyst storefront.
# Channel ID 1 will allow you to load the same data being used on the default Stencil storefront on your store,
# but it is strongly recommended to create a new channel instead for production. 
# The CLI can do this for you.
BIGCOMMERCE_CHANNEL_ID=1

# Set to true to allow the /admin route to redirect to the BigCommerce control panel.
# `false` is recommended for production. Defaults to false when not specified.
# You may also delete /admin/route.ts if you wish.
ENABLE_ADMIN_ROUTE=true

# Used by NextAuth. To generate, run `openssl rand -hex 32` in your terminal.
AUTH_SECRET=

MAKESWIFT_SITE_API_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
